.card {
  max-width: 21.9%;
  margin-top: 0.2em;
  max-height: 20vh;
  padding: 10px;
  display: 'flex';
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  align-items: center;
}
.actionContainer {
  padding: 10px;
  height: 100%;
  background-color: rgba(239, 217, 175, 0.238);
}
.media {
  width: 100%;
}
.add {
  margin: 5px auto;
  width: 100%;
}
