.sideBox {
  margin-top: 4em;
  position: absolute;
  min-height: 100%;
  font-size: xx-small;
  left: 0.3em;
  top: 8%;
}
.userInfo {
  max-height: 23vh;
}
.listItemText {
  margin-left: 10px;
}
@media (max-width: 850px) {
  .sideBox {
    left: 0px;
    font-size: smaller;
  }
}
