.media {
  width: 100%;
  padding-top: 50%;
  margin-left: -2.9%;
  margin-top: -3%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: 'darken';
}
.border {
  border: solid;
}
.fullHeightCard {
  height: 100%;
}
.card {
  background-color: transparent;
  margin-top: 10px;
  width: 95%;
  padding: 0.001em;
  display: 'flex';
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  max-height: 30vh;
  position: relative;
  perspective: 1000px;
}
.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.overlay {
  width: 100%;
  position: absolute;
  top: 0.5em;
  left: 1em;
  color: white;
}
.overlay2 {
  position: absolute;
  right: 1px;
  top: 0.5em;
  color: white;
  cursor: pointer;
}
.grid {
}
.detail {
  display: none;
  margin: 20px;
  gap: 10px;
}
.title {
  margin-top: -2em;
  margin-left: -1.3em;
  width: 94%;
  max-height: 7vh;
}
.cardActions {
  display: flex;
  justify-content: space-between;
}
.editBtn {
  color: rgb(26, 121, 244);
}
.editFeild {
  width: 100%;
  margin: 15px 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.link {
  text-decoration: none;
  color: black;
  width: 100%;
}
.cardFront {
  width: 100%;
  max-height: 25vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cardBack {
  background-color: rgba(239, 217, 175, 0.238);
  width: 100%;
  height: 23vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 2px;
  margin-top: -10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.tags {
  margin-top: 1.3em;
  margin-left: 1em;
}
.description {
  margin: 1em;

  max-height: 10vh;
  overflow: scroll;
}
.card:hover .cardInner {
  transform: rotateY(180deg);
}
