.searchBar{
  justify-self: end !important;
  margin: 10px ;
  display: flex ;
  flex-direction: row !important;
  width: 70%;
  background-color: white !important;
  justify-content: space-between;
  align-items: center;
 
}
.searchTitle{
  margin: 10px;
}
.searchBtn{
  width: 20%;
}
@media (max-width:600px) {
.searchBar{
    flex-direction: column !important;
  }
  .secondBar{
    flex-direction: column !important;
  }
  
}