.media {
  border-radius: 10px;
  object-fit: 'cover';
  width: 100%;
  max-height: 500px,

}
.card {
  display: flex;
  width: 100%;

}
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  margin: 10px;
  flex: 1;

}
.imageSection {
  margin-left: 20px;
  max-width: 40%;
}
.loading{

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  height: 39vh;
}
.recommendedCard{
  margin-top:10px;
  max-width: 59%;

  padding: 10px;
  display: 'flex';
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}
.recommendedMedia {
  max-width: 80%;
   background-color: rgba(0, 0, 0, 0.5);
   background-blend-mode: 'darken';
   border-radius: 10px 10px 0 0 ;
 }

 .Rtitle {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-around;
  padding: 15px
}
.actions{
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}
.link{
  text-decoration: none;
  color: black;
}