.media {
  border-radius: 10px;
  object-fit: 'cover';
  width: 100%;
  max-height: 500px,

}
.card {
  display: flex;
  width: 100%;

}
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  margin: 10px;
  flex: 1;

}
.imageSection {
  margin-left: 20px;
  max-width: 40%;
}
.loading{

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  height: 39vh;
}