.media {
  border-radius: 5px;
  object-fit: "cover";
  width: 100%;
  max-height: 500px;
}
.card {
  display: flex;
  width: 100%;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 10px;
  flex: 1;
}
.imageSection {
  margin-left: 20px;
  max-width: 40%;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  height: 39vh;
}
.recommendedContainer {
  max-width: 100%;
  padding: 1rem;
  overflow: hidden;
  height: 40vh;
}
.recommendedCard {
  position: relative;
  min-width: 20%;
  border: 1px solid black;
  border-radius: 5px;
}
.recommendedMedia {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: "darken";
  border-radius: 10px 10px 0 0;
}

.Rtitle {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  overflow: hidden;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}
.link {
  max-width: 100%;
  text-decoration: none;
  color: black;
  display: flex;
}
.cardImg {
  max-width: 100%;
  height: 100%;
}
